#wrapper{ 
width:700px;
margin:50px auto;
}

#container{ 
width:164px;
margin:0 auto;
}

#mainheading{ 
background-color:#a3d49b;
width:189px;
height:25px;
padding:7px;
}

h2{ 
font-size:18px;
font-weight:normal;
text-transform:uppercase;
text-align:center;
}

/* Column 1 */

#col1{ 
width:170px;
float:left;
padding-top:50px;
}

/* Column 2 */

#col2{ 
width:150px;
float:left;
--padding-top:100px;
padding-top:50px;
padding-left:80px;
}

/* Column 3 */

#col3{ 
width:210px;
float:left;
--padding-top:150px;
padding-top:50px;
padding-left:80px;
}


.subheading{ 
background-color:#c8a7a6;
width:158px;
height:18px;
padding:4px 7px 7px 7px;
}

.subheading2{ 
background-color:#c8a7a6;
width:62px;
height:18px;
padding:4px 7px 7px 7px;
}

.subheading3{ 
background-color:#c8a7a6;
width:117px;
height:18px;
padding:4px 7px 7px 7px;
}

/* LISTS of all 3 columns */

h4{ 
font-size:15px;
font-weight:normal;
text-transform:uppercase;
}

ul#lists{ 
padding-top:20px;
padding-left:10px;
}

ul#lists li{ 
list-style-type:disc;
list-style-position:inside;
text-transform:capitalize;
padding-bottom:10px;
}

/* Heading Container -- heading is used as H1 */

#container2{ 
width:164px;
--margin:300px auto 0;
margin:250px auto 0;
}

#container3{ 
width:164px;
margin:50px auto;
}


